@charset "UTF-8";
/*------------------------------------------------------------
並び口
------------------------------------------------------------*/

/* main_area */

#main_area .tab {
  background: #fff;
  margin-top: 45px;
}

#main_area .tab li {
  float: left;
  margin-right: 3.5%;
  width: 31%;
}

#main_area .tab li.last {
  margin-right: 0;
}

#main_area .tab li a {
  display: block;
  height: 100%;
  width: 100%;
}

@media screen and (max-width:768px){
  #main_area .tab {
    margin-top: 5%;
  }
}

/* #access */

.big_ttl {
  margin-bottom: 29px;
}

.big_ttl + .big_catch {
}

@media screen and (max-width:768px){
  .big_ttl {
    margin-bottom: 5%;
  }
  .big_ttl + .big_catch {
    margin-bottom: 8%;
  }
}

/*------------------------------------------------------------
area padding
------------------------------------------------------------*/

#main_area {
  padding: 50px 0 0;
}

#access01, #access02, #access03 {
  padding-top: 70px;
}

@media screen and (max-width:768px){
  #main_area {
    padding: 8% 0 0;
  }

  #access01, #access02, #access03 {
    margin-top: -10% !important;
    padding-top: 16%;
  }
}

