@charset "UTF-8";
/*------------------------------------------------------------
フロアガイド
------------------------------------------------------------*/

/* #main_area */

.menu_btn {
  margin: 25px auto 0;
  width: 87.76%;
}

/* #world_area */

#world01_area, #world02_area {
  padding: 10% 0;
}

#world01_area {
  background: #f6f6ef;
}

#world03_area {
  background: #d8e6af;
}

/* #world_area03 */

.infomation_list {
  margin-top: 25px;
}

.infomation_list li {
  float: left;
  margin-top: 2%;
  margin-right: 3.5%;
  width: 31%;
}

.infomation_list li.last {
  margin-right: 0;
}

.brand_list + .brand_list {
  margin-top: 25px;
}

.brand_list .title {
  margin: 5% 0 3%;
  width: 14%;
}

.brand_list li {
  font-size: 1.4rem;
  line-height:1.714;
  padding-left: 1em;
  text-indent: -1em;
}
.brand_list li:before {
  content: "• ";
  color: #ccc;
}



/*------------------------------------------------------------
area padding
------------------------------------------------------------*/

#main_area, #world01_area, #world02_area, #world03_area, #world04_area {
  padding: 50px 0;
}

@media screen and (max-width:768px){
  #main_area, #world01_area, #world02_area, #world03_area, #world04_area {
    padding: 8% 0;
  }
}

