@charset "UTF-8";
/*------------------------------------------------------------
館の紹介
------------------------------------------------------------*/


/* #main_area */

#main_area .big_ttl + .big_catch {
  margin-bottom: 40px;
}

@media screen and (max-width:768px){
  #main_area .big_ttl + .big_catch {
    margin-bottom: 5%;
  }
}

/* #concept_area */

#concept_area {
  background: #f6f6ef;
}

#concept_area ul {
  margin-top: 25px;
}

#concept_area ul li {
  position: relative;
}

#concept_area ul li + li {
  margin-top: 15px;
}

/*------------------------------------------------------------
area padding
------------------------------------------------------------*/

#main_area, #concept_area {
  padding: 50px 0;
}

@media screen and (max-width:768px){
  #main_area, #concept_area {
    padding: 8% 0;
  }
}

