@charset "UTF-8";
/*------------------------------------------------------------
フロアガイド
------------------------------------------------------------*/

/* #event_area */

.menu_btn {
  margin: 25px auto 0;
  width: 87.76%;
}


/*------------------------------------------------------------
area padding
------------------------------------------------------------*/

#event_area01 {
padding: 50px 0;
}

@media screen and (max-width:768px){
	#event_area01 {
	  padding: 8% 0;
	}
}

